.footer__link {
  display: block;
  text-decoration: none;
  color: #fff;
  margin: 0 18px 0 0;
}

.footer__link:hover {
  opacity: .8;
}

@media screen and (max-width: 767px) {
  .footer__link {
    margin: 0 0 32px 0;
  }
}