@import url(./__links/footer__links.css);
@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);

.footer {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .footer {
    display: block;
  }
}
